<p>Randomly generated number is: </p>
<div class="container-fluid">
  <!-- <div *ngIf="!isGameStart">
    <p>Enter username</p>
    <input type="text"/>
    <button class="btn btn-secondary" (click)="startGame()">Start Game</button>
  </div> -->
  <div class="col-3">
    <select name="size" [(ngModel)]="size">
      <option value="4">4</option>
      <option value="6">6</option>
      <option value="8">8</option>

    </select>
    <button class="button d-flex justify-content-end" (click)="startGame(size)">Start a new game</button>
  </div>
  <div class="col-6 d-flex justify-content-center">

    <table class="table table-sm">
      <thead>
        <tr class="table-warning">
          <th>Attempt</th>
          <th>Feedbacks</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div >
              <!-- <form #prodQty="ngForm" class="form-group mx-sm-3 mb-2"> -->
              <select type= "number" *ngFor="let box of array" #box1 (blur)="getData(box1.value)" name="box">
              <!-- <select type= "number" *ngFor="let box of array"  name="box"> -->
                <option value=""></option>
                <option  *ngFor="let i of range" [value]="i">{{i}}</option>

              </select>
            <!-- </form> -->
            <!-- <select type="number" #box2 (blur)="getData(box2.value)">
              <option value="3">3</option>
              <option value="4">4</option>
              </select> -->
            </div>

            <button class="btn btn-warning btn-sm" (click)="checkAttempt()">check</button>
          </td>
          <td>{{feedback}}</td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="col-3"></div>
</div>
